html {
    font-size: 0.3125vw;
}
body {
    margin: 0 5rem 5rem 5rem;
    display: grid;
    grid-template-rows:    11rem repeat(4, 36rem);
    grid-template-columns: repeat(5, 58rem);
    grid-gap: 5rem 5rem;
}
h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4.5rem;
    margin-top: 2.5rem;
}
.search-form {
    grid-column-start: 2;
    grid-column-end:   6;
    background-color: #FAFAFA;
    border-radius: 0 0 4rem 4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4.5rem;
    color: #CCC;
    padding-left: 4rem;
}
.search-form span {
    display: block;
    margin-top: 2.5rem;
}
.card {
    background-color: #FAFAFA;
    border-radius: 4rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:hover {
    background-color: #F2F2F6;
}
.card:active {
    background-color: #ECECF4;
    animation-name: feedback;
    animation-duration: 1s;
}
.example {
    font-family: 'PT Serif', serif;
    font-size: 16rem;
    line-height: 18rem;
    color: #BFBFBF;
}
.sign {
    color: #1B31F7;
}
.spaces span {
    background-color: #D8DCFE;
}

/* .card::after {
    content: 'copied';
    position: absolute;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 28rem;
    height: 8rem;
    background-color: rgba(217, 216, 247, 0.8);
    text-transform: uppercase;
    border-radius: 1rem;
} */