html {
  font-size: 0.3125vw;
}
body {
  margin: 0 5rem 5rem 5rem;
  display: grid;
  grid-template-rows: 11rem repeat(5, 36rem);
  grid-template-columns: repeat(5, 58rem);
  grid-gap: 5rem 5rem;
}
h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4.5rem;
  margin-top: 2.5rem;
}
.search-form {
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: #fafafa;
  border-radius: 0 0 4rem 4rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4.5rem;
  color: #ccc;
  padding-left: 4rem;
}
.search-form span {
  display: block;
  margin-top: 2.5rem;
}
.card {
  background-color: #fafafa;
  border-radius: 4rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 100ms;

  user-select: none;
}
.card:hover {
  background-color: #f2f2f6;
}
.card:active {
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}
.example {
  display: inherit;
  font-family: "PT Serif", serif;
  font-size: 16rem;
  line-height: 18rem;
  color: #bfbfbf;
}
.sign {
  color: #1b31f7;
}
.spaces span {
  background-color: #d8dcfe;
}

.copy {
  cursor: url(copy.svg) 27 6, pointer;
}

.copied {
  cursor: url(copied.svg) 39 6, pointer;
}

/* .card:active {
    content: 'copied';
    position: absolute;
    font-size: 3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: .3rem;
    width: 20rem;
    height: 6rem;
    background-color: rgba(217, 216, 247, 1);
    text-transform: uppercase;
    border-radius: 1rem;
    text-align: center;
    animation: feedback 5s infinite;
} */
/* .feedback_anim{
    animation: feedback .2s;
}

@keyframes feedback {
    0%   {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    50%  {
        transform: scale(.98);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
    }
  } */
