:root {
  --accent: #fab519;
}

/* SETUP */

* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

ol,
ul {
  list-style-position: inside;
}

ul {
  list-style-type: "— ";
}

body {
  font-family: synthese, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;

  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  column-gap: 20px;

  margin: 24px 20px;

  background-color: black;
  color: white;
}

/* TOKENS */

.t-big-text {
  font-size: 48px;
  line-height: 68px;
  display: inline-block;
  letter-spacing: -0.02em;
}

.t-text {
  font-size: 24px;
  line-height: 36px;
  display: inline-block;
}

.t-caption {
  opacity: 60%;
  display: inline-block;
}

.t-color-accent {
  color: var(--accent);
}

.t-color-gray {
  color: rgba(255, 255, 255, 0.6);
}

.t-article-margin:first-of-type {
  margin-top: 80px;
}

.t-article-margin:last-of-type {
  margin-bottom: 80px;
}

.t-margin-bottom-80 {
  margin-bottom: 80px !important;
}

.t-non-break {
  white-space: nowrap;
}
/* COMPONENTS */

.c-nav * {
  margin-right: 24px;
}

.c-link {
  display: inline-flex;
  align-items: center;
  height: fit-content;

  transition: all 0.2s;
}

.c-link:hover {
  opacity: 0.8;

  transition: all 0.2s;
}

.c-link svg {
  margin: 2px 0 0 4px;
  fill: currentColor;
}

.c-button {
  display: flex;
  align-items: center;

  height: 56px;
  padding: 0 20px;

  background-color: var(--accent);
  color: black;
  border-radius: calc(56px / 2);

  transition: all 0.2s;
}

.c-button:hover {
  opacity: 0.8;

  transition: all 0.2s;
}

.c-button span {
  padding-bottom: 4px;
}

.c-button svg {
  margin-left: 32px;
}

.c-picture img {
  width: 100%;
}

.c-picture .c-picture-caption {
  margin-top: 8px;
}

.c-works {
  display: contents;
}

.c-card img {
  width: 100%;
}

.c-card .card-bottom {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
}

.c-card .c-link {
  text-align: right;
  flex-shrink: 0;
  margin-left: 16px;
}

.c-contacts-links *:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}

.c-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-color: #d4d4d4;
}

.c-img img,
.c-img video {
  display: block;

  max-width: 100%;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}

/* LAYOUT HOME PAGE */

@media screen and (max-width: 699px) {
  .l-logo {
    grid-column: 1 / 5;
  }

  .l-nav {
    display: none;
  }

  .l-cv {
    grid-column: 5 / 7;
    justify-self: end;
    align-self: start;

    margin-bottom: 80px;
  }

  .l-about-heading {
    display: none;
  }

  .l-about-text {
    grid-column: 1 / 7;

    margin-bottom: 20px;
  }
  .l-portrait {
    grid-column: 1 / 7;

    margin-bottom: 80px;
  }

  .l-works-heading {
    grid-column: 1 / 7;

    margin-bottom: 16px;
  }

  .l-card {
    grid-column: 1 / 7;
    margin-bottom: 24px;
  }

  .l-card:last-child {
    margin-bottom: 80px;
  }

  .l-contacts-heading {
    grid-column: 1 / 7;

    margin-bottom: 16px;
  }

  .l-contacts-links {
    grid-column: 1 / 7;

    margin-bottom: 80px;
  }

  .l-copyright {
    display: none;
  }

  .l-year {
    grid-column: 1 / 4;
  }

  .l-favicon {
    grid-column: 4 / 7;
    justify-self: end;
    align-self: end;
  }
}

@media screen and (min-width: 700px) and (max-width: 1099px) {
  .l-logo {
    grid-column: 1 / 5;
  }

  .l-nav {
    display: none;
  }

  .l-cv {
    grid-column: 5 / 7;
    justify-self: end;
    align-self: start;

    margin-bottom: 80px;
  }

  .l-about-heading {
    display: none;
  }

  .l-about-text {
    grid-column: 1 / 7;

    margin-bottom: 20px;
  }

  .l-portrait {
    grid-column: 1 / 5;

    margin-bottom: 80px;
  }

  .l-works-heading {
    grid-column: 1 / 7;

    margin-bottom: 16px;
  }

  .l-card {
    margin-bottom: 24px;
  }

  .l-card:nth-child(odd) {
    grid-column: 1 / 4;
  }

  .l-card:nth-child(even) {
    grid-column: 4 / 7;
  }

  .l-card:last-child {
    margin-bottom: 80px;
  }

  .l-contacts-heading {
    grid-column: 1 / 4;
  }

  .l-contacts-links {
    grid-column: 4 / 7;

    margin-bottom: 80px;
  }

  .l-copyright {
    grid-column: 1 / 4;
  }

  .l-year {
    grid-column: 4 / 5;
  }

  .l-favicon {
    grid-column: 6 / 7;
    justify-self: end;
    align-self: end;
  }
}

@media screen and (min-width: 1100px) {
  .l-logo {
    grid-column: 1 / 3;
  }

  .l-nav {
    grid-column: 3 / 6;
  }

  .l-cv {
    grid-column: 6 / 7;
    justify-self: end;
    align-self: start;

    margin-bottom: 80px;
  }

  .l-about-heading {
    grid-column: 1 / 3;
  }

  .l-about-text {
    grid-column: 3 / 7;

    margin-bottom: 20px;
  }

  .l-portrait {
    grid-column: 3 / 6;

    margin-bottom: 80px;
  }

  .l-works-heading {
    grid-column: 1 / 3;

    margin-bottom: 16px;
  }

  .l-card {
    margin-bottom: 24px;
  }

  .l-card:nth-child(odd) {
    grid-column: 3 / 5;
  }

  .l-card:nth-child(even) {
    grid-column: 5 / 7;
  }

  .l-card:last-child {
    margin-bottom: 80px;
  }

  .l-contacts-heading {
    grid-column: 1 / 3;
  }

  .l-contacts-links {
    grid-column: 3 / 7;

    margin-bottom: 80px;
  }

  .l-copyright {
    grid-column: 1 / 3;
  }

  .l-year {
    grid-column: 3 / 5;
  }

  .l-favicon {
    grid-column: 6 / 7;
    justify-self: end;
    align-self: end;
  }
}

/* LAYOUT INNER PAGE */

@media screen and (max-width: 699px) {
  .l-title {
    grid-column: 1 / 7;
  }

  .l-meta-info {
    grid-column: 1 / 7;
  }

  .l-cta {
    grid-column: 1 / 7;
    width: fit-content;
    margin-top: 12px;
  }

  .l-wide {
    grid-column: 1 / 7;
    width: 100%;
  }

  .l-left {
    grid-column: 1 / 7;
    width: 100%;
  }

  .l-right {
    grid-column: 1 / 7;
    width: 100%;
  }

  img.l-right,
  div.l-wide {
    margin-bottom: 48px;
  }

  p.l-right,
  ol.l-right,
  ul.l-right {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1099px) {
  .l-title {
    grid-column: 1 / 4;
  }

  .l-meta-info {
    grid-column: 4 / 7;
  }

  .l-cta {
    grid-column: 4 / 7;
    width: fit-content;
    margin-top: 12px;
  }

  .l-wide {
    grid-column: 1 / 7;
    width: 100%;
  }

  .l-left {
    grid-column: 1 / 7;
    width: 100%;
  }

  .l-right {
    grid-column: 1 / 7;
    width: 100%;
  }

  img.l-right,
  div.l-wide {
    margin-bottom: 48px;
  }

  p.l-right,
  ol.l-right,
  ul.l-right {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .l-title {
    grid-column: 1 / 3;
  }

  .l-meta-info {
    grid-column: 3 / 5;
  }

  .l-cta {
    grid-column: 5 / 7;
    justify-self: end;
    margin-top: 12px;
  }

  .l-wide {
    grid-column: 1 / 7;
    width: 100%;
  }

  .l-left {
    grid-column: 1 / 3;
    width: 100%;
  }

  .l-right {
    grid-column: 3 / 7;
    width: 100%;
  }

  img.l-right,
  div.l-wide {
    margin-bottom: 48px;
  }

  p.l-right,
  ol.l-right,
  ul.l-right {
    margin-bottom: 24px;
  }
}
