:root {
  --content-width: 1200px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter", sans-serif;
  }
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter.var.woff2") format("woff2");
}

/* Reset */

html,
body,
div,
h1,
h2,
a {
  margin: 0;
  font: inherit;
}

html {
  font-family: "Inter", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

body {
  font-size: 24px;
  line-height: 36px;
  background-color: var(--bg-color);
}

h1 {
  font-size: 156px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.022;
}

h2,
h3,
h4 {
  font-weight: 700;
}

.link {
  color: var(--accent) !important;
  transition: all 0.15s;
}

.link:hover {
  opacity: 60%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: var(--content-width);
  margin: auto;
  padding: 56px 0;
}
.content > * {
  margin-bottom: 60px;
}

header {
  flex-grow: 1;
}

.block {
  width: 100%;
}

.wide {
  position: relative;
  left: calc((var(--content-width) - var(--ws-width)) / 2);
  width: var(--ws-width);
}

.block span {
  display: block;
  margin-bottom: 12px;
}

.row {
  display: flex;
  border-top: 1px solid rgba(33, 37, 41, 0.18);
  padding: 12px 0;
}

.row > *:not(:last-child) {
  padding-right: 12px;
}

.table:last-child {
  border-bottom: 1px solid rgba(33, 37, 41, 0.18);
}

.name {
  flex: 2;
}

.type {
  flex: 1;
}

.description {
  flex: 4;
}

.year {
  flex: 1;
  text-align: right;
}
