body {
  height: 100%;
  margin: auto;
  font-size: 16px;
  transition: all 500ms;
  overflow-y: hidden;

  grid-template-columns: 20% auto;
  grid-template-rows: 100%;
}

.devices-wrapper {
  display: none;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 36px;
  padding: 12px 36px 0 36px;
}

.device h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.input-wrapper {
  background-color: #f0f0ef;
}

#input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.input-label {
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 1.625em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input-label:hover {
  color: rgba(0, 0, 0, 0.65);
}

.itallic {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

#i5 {
  width: 320px;
  height: 568px;
}

#i6 {
  width: 375px;
  height: 667px;
}

#i6plus {
  width: 414px;
  height: 736px;
}

#ix {
  width: 375px;
  height: 812px;
}

#ixr {
  width: 414px;
  height: 896px;
}

.ui-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ixr-wrapper .ui-overlay,
#ix-wrapper .ui-overlay {
  background-size: contain;
  background-color: black;
}

#ixr-wrapper .ui-overlay {
  background-position: center 44px;
}

#ix-wrapper .ui-overlay {
  background-position: center 36px;
}

.grid {
  display: grid;
}
