body {
  display: grid;
  grid-template-columns: 20% auto auto auto auto;
  height: 100%;
  margin: auto;
  font-size: 16px;
  transition: all 500ms;
}

.input-wrapper,
.i5-wrapper,
.i6-wrapper,
.i6plus-wrapper {
  /* flex-grow: 1; */
  /* width: 33%; */
}

.i5-wrapper,
.i6-wrapper,
.i6plus-wrapper,
.ixr-wrapper {
  padding: 24px 32px;
}
.i5-wrapper h2,
.i6-wrapper h2,
.i6plus-wrapper h2,
.ixr-wrapper h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.input-wrapper {
  background-color: #f0f0ef;
}

#fileInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  /* overflow: hidden; */
  /* position: absolute; */
  /* z-index: -1; */
}

.input-label {
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 1.625em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input-label:hover {
  color: rgba(0, 0, 0, 0.65);
}

.itallic {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

#i5 {
  width: 320px;
  height: 568px;
}

#i6 {
  width: 375px;
  height: 667px;
}

#i6plus {
  width: 414px;
  height: 736px;
}

#ixr {
  width: 414px;
  height: 896px;
}

.ui-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hide {
  display: none;
}
